* {
  margin: 0;
  box-sizing: border-box;
}

form {
  margin: 50px;
  border: 1px solid rgb(158, 158, 158);
  width: 300px;
  height: 180px;
  border-radius: 7px;
}
legend {
  color: #177ad0;
  margin-top: 15px;
  margin-left: 30px;
  font-size: 26px;
}
label {
  display: block;
  margin-left: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}
input {
  display: block;
  margin-left: 31px;
  border-radius: 4px;
  border: 1px solid rgb(158, 158, 158);
  width: 236px;
  height: 1.7rem;
}

button {
  background-color: white;
  color: #177ad0;
  border: 2px solid #177ad0;
  border-radius: 4px;
  font-weight: 600;
  margin-left: 205px;
}
